*{margin: 0;padding: 0;}
.token.selector{
    color: black;
}
.token.punctuation{
    color: black;
}
.token.property{
    color: black;
}
.token.function{
    color: black;
}
#preTag{
    margin-left: 35px;
    margin-top: 20px;
    overflow: hidden;
    height:88vh;
}

#paperWrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    padding:19px;
    overflow: auto;
}
#paper{
    display: flex;
    justify-content: flex-start;
}
